<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="../static/style.css"
    </head>
    <body>
        <div class="container">
            <h1 style="font-size:5vw">Bird Journal</h1>
            <p>Submit a form entry when a new bird is spotted. If exact time is not 
                known please approximate! Notes and photo are optional fields.</p>
        </div>
        
        <div class="container">
            <!-- <img src="../static/DSCN2536.JPG" alt="bird" class="logo"> -->
            <!--check if message exists (for incomplete form)-->
            {% if message %}
                <p class="message">{{ message | safe}}</p>
            {% endif %}
            <form action="/submit" method="POST">
                <div class="form-group">
                    <h3>Name</h3>
                    <input
                        type="text"
                        name="species"
                        placeholder="bird species"
                    />
                </div>
                <div class="form-group">
                    <h3>Location</h3>
                    <input
                        type="text"
                        name="loc"
                        placeholder="city"
                    />
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <h3>Date</h3>
                        <input
                            type="date"
                            name="date"
                        />
                    </div>
                    <div class="form-group">
                        <h3>Time</h3>
                        <input
                            type="time"
                            name="time"
                        />
                    </div>
                </div>
                <div class="form-group" style="clear:both">
                    <h3>Notes</h3>
                    <input
                        type="text"
                        name="notes"
                        placeholder="additional observations"
                    />
                </div>
                <div class="form-group">
                    <h3>Photo</h3>
                    <input
                        type="file"
                        name="image"
                        placeholder="upload picture here"
                    />
                </div>
                <input type="submit" value="Submit entry" class="btn" />
            </form>
        </div>
    </body>
</html>