<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Success!</h1>

            <p> Entry successfully logged. Click the button below to return to the form and submit another entry
                 or exit this tab
            </p>
            <form action='/success/' method = 'POST'>
                <input name="success" type="submit" value="Back to Form" class="btn" />
            </form>

            
        </div>
        
    </body>
</html>